<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brendan Coughlan Portfolio</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/files/global.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full min-h-screen grid grid-cols-2 items-center text-center">
        <div>
            <ul class="flex flex-col gap-4 text-2xl">
                <li
                    class="cursor-pointer text-slate-950 underline-offset-6 transition duration-300 ease-in-out hover:underline hover:decoration-blue-700 hover:text-slate-700 hover:scale-110">
                    <a href="{{ url_for('home') }}">Home</a>
                </li>
                <li
                    class="cursor-pointer text-slate-950 underline-offset-6 transition hover:underline hover:decoration-blue-700 hover:text-slate-700">
                    <a href="{{ url_for('projects') }}">Projects</a>
                </li>
                <li
                    class="cursor-pointer text-slate-950 underline-offset-6 transition hover:underline hover:decoration-blue-700 hover:text-slate-700">
                    <a href="{{ url_for('about') }}">About</a>
                </li>
                <li
                    class="cursor-pointer text-slate-950 underline-offset-6 transition hover:underline hover:decoration-blue-700 hover:text-slate-700">
                    <a href="{{ url_for('resume') }}">Resume/CV</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light px-4">
            <a class="navbar-brand d-flex align-items-center" href="index.html">
                <img src="{{ url_for('static', filename='images/profile_image.jpg') }}" class="rounded-circle me-2"
                    style="width: 50px;" alt="Profile image of Brendan Coughlan">
            </a>

            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ms-auto fs-5">
                    <li class="nav-item mx-1"><a class="nav-link text-dark" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item mx-1"><a class="nav-link text-dark"
                            href="{{ url_for('projects') }}">Projects</a></li>
                    <li class="nav-item mx-1"><a class="nav-link text-dark" href="{{ url_for('blog') }}">Blog</a></li>
                    <li class="nav-item mx-1"><a class="nav-link text-dark" href="{{ url_for('about') }}">About</a></li>
                    <li class="nav-item mx-1"><a class="nav-link text-dark" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item mx-1"><a class="nav-link text-dark" href="{{ url_for('resume') }}">Resume/CV</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div> -->

    {% block content %}
    {% endblock %}
</body>

</html>